<div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="d-flex align-items-center" [style.height.px]="hauteurImage*3/4" style="overflow: hidden;">
      <img #image (window:resize)="tailler(image)" (load)="tailler(image)" (error)="sourcer(image)" class="card-img-top" src="{{collegue.imageUrl}}"
        alt="Card image cap">
    </div>
    <div class="card-body" style="text-align:center;">
      <a routerLink="/detail/{{collegue.pseudo}}">
        <h5 class="card-title">{{collegue.pseudo}}</h5>
      </a>
      <p class="card-text">
        <strong>{{collegue.score}}</strong>
      </p>
    </div>
    <div class="card-body" style="text-align: center;">
      <button (click)="jaime()" class="btn btn-outline-primary">J'aime</button>
      <button (click)="jedeteste()" class="btn btn-outline-danger">Je deteste</button>
    </div>
  </div>
</div>
<br>