<div class="card">
  <img class="card-img-top img-fluid mx-auto d-block" src="{{collegue.imageUrl}}" alt="Card image cap">
  <div class="card-body" style="text-align:center;">
    <h5 class="card-title">{{collegue.pseudo}}</h5>
    <p class="card-text">
      <strong [innerHTML]="collegue.score | scoremodif"></strong>
    </p>
  </div>
  <div class="card-body" style="text-align: center;">
    <button (click)="jaime()" class="btn btn-outline-primary">J'aime</button> <button (click)="jedeteste()" class="btn btn-outline-danger">Je deteste</button>
  </div>
</div>

