<div class="container">
  <div class="row">
    <div class="col-3">
      <h1>Top Collègues</h1>
    </div>
    <div class="col-9 float right">
      <app-etat-du-site></app-etat-du-site>
    </div>
  </div>
  <div class="row">
    <div class="col">Les meilleurs collègues du moment</div>
  </div>
  <br>
  <form>
    <div class="form-group">
      <label>Pseudo</label>
      <input type="text" class="form-control" placeholder="Pseudo" #pseudo>
    </div>
    <div class="form-group">
      <label>URL image</label>
      <input type="text" class="form-control" placeholder="URL Image" #imageUrl>
    </div>
    <button (click)="add(pseudo, imageUrl)" href="#collapseExample" class="btn btn-primary">Ajouter un nouveau collègue</button>
  </form>
  <br>
  <div *ngIf="afficheralert == true">
    <div class="alert alert-success" role="alert" id="alertmessage">
      Le collègue {{pseudo.value}} a été ajouté avec succès
    </div>
  </div>
  <br>
  <nav class="nav">
    <a routerLink="/classique" class="nav-link" routerLinkActive="active">Classique</a>
    <a routerLink="/tableau" class="nav-link" routerLinkActive="active">Tableau</a>
    <a routerLink="/carrousel" class="nav-link" routerLinkActive="active">Carrousel</a>
  </nav>
  <br>
  <app-votre-dernier-avis></app-votre-dernier-avis>
  <router-outlet></router-outlet>
  <app-votre-dernier-avis></app-votre-dernier-avis>
</div>